@charset "utf-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap');
body{
    font-family: 'Montserrat', sans-serif !important;
}
@media(max-width:991px){
    .desktop-view{
        display: none;
    }
}
.col-lg-12{
    padding: 0 !important;
}
@media(min-width:992px){
    .mobile-view{
        display: none;
    }
    header{
        background: #0F152C;
        top: 0px;
    }
}
section .section-1{
    height: 100vh;
    display: flex;
    align-items: center;
    text-align: center;
}
header {
    position: fixed;
    text-align: center;
    z-index: 99;
    width: 100%;    
    box-shadow: 0px 0px 3px #ccc;
}
header .logo-section {
    margin: 1em 0;
}
@media(min-width: 992px){
    section .section-1 p.heading{
        font-weight: 700;
        font-size: 50px;    
    }    
    section .section-1 p.body-content{
        font-size: 20px;
        max-width: 520px;
        margin: 0px auto;
    }    
    section .section-1 .content-sec {
        height: 70vh;
        text-align: center;
        padding: calc(30vh - (1.75rem * 2));
        align-items: center;
    }
}
@media(max-width: 991px){
    section .section-1 p.heading{
        font-weight: 700;
        font-size: 30px;    
    }    
    section .section-1 p.body-content{
        font-size: 15px;
    }    
    section .section-1 .content-sec {
        height: 50vh;
    }
}
section .section-1 p.heading{
    font-family: 'Montserrat', sans-serif !important;
    color: #08152D;
}
section .section-1 p.body-content{
    font-family: 'Montserrat', sans-serif !important;
    color: #08152D;
}
section .section-1 .content-sec{
    margin: 0px 1em;
}
.section-1 .sec1-bottom-img .desktop-view img.imgs1{
    width: inherit;
}
@media(min-width: 992px){
    .section-1 .sec1-bottom-img .desktop-view{
        display: flex;
        bottom: 0px;
        position: fixed;
        width: 100%;
        left: 0;
    }
}
.header-button-top-right.desktop-view {
    position: absolute;
    right: 5%;
    top: 6px;
}
.button-1 svg{
    position: relative;
    top: 13px;
    margin-right: 10px;
    transition: 0.5s;
}
.button-1:hover svg path{
    fill: #fff !important;
    transition: 0.5s;
}
.button-1{
    font-size: 18px;
    background: #fff;
    padding: 15px 25px;
    font-weight: 700;
    color: #0F152C;
    border-radius: 5px;
    transition: 0.5s;
    cursor: pointer;
    text-decoration: none;
    border: 1px solid #fff;
}
.button-1:hover{
    text-decoration: none;
    color: #fff;
    background: #0F152C;
    transition: 0.5s;
}
.mobile-btn-sec {
    margin: 2em 0;
}
.button-2 svg{
    position: relative;
    top: 7px;
    margin-right: 10px;
    transition: 0.5s;
}
.button-2 {
    color: #fff;
    background: #0F152C;
    padding: 13px 30px;
    border-radius: 5px;
    font-weight: 600;
}
.button-2:hover{
    color: #0F152C;
    text-decoration: none;
    background: #fff;
}
.button-2:hover svg path{
    fill: #0F152C !important;
    transition: 0.5s;
}
.mobile-carousel-settings {
    max-width: 100vw;
    position: fixed;
    left: 0px;
    bottom: 0;
}
.owl-carousel .owl-stage{
    height: 150px;
    margin-top: 4em;
}
.mobile-carousel .owl-stage .owl-item{
    transition: 0.s;
    transform: scale(1);
}
.mobile-carousel .owl-stage .owl-item.active.center {
    transform: scale(2, 2);
    z-index: 99;
    transition: 0.5s;
    position: relative;

}
.mobile-carousel .owl-stage .owl-item .alt-wrap p.alt{
    opacity: 0;
    position: unset;
    font-size: 9px;
    height: auto;
    color: #000;
    background: #fff;
    padding: 1px;
}
.mobile-carousel .owl-stage .owl-item.active.center .alt-wrap p.alt{
    opacity: 1;
    position: unset;
    font-size: 9px;
    height: auto;
    color: #000;
    background: #fff;
    padding: 1px;
}
/*-----------------*/

.alt-wrap { 
    display: block;
    position: relative;
    width: 100%;
    color: #fff;
}
.alt-wrap p.alt {
    position: absolute;
    opacity: 0; /* hide initially */
    left: 0; right: 0; bottom: 0; top: 0;
    height: 100%;
    padding: 28% 0;
    font-size: 24px;
    font-weight: 700;
    line-height: 22px;
    background-color: rgba(0,0,0,0.85);
    margin: 0px !important;
    transition: all 300ms ease;
    transition-delay: 300ms;
}
.alt-wrap:hover > p.alt { 
    opacity: 1; 
    transition-delay: 0s;
}
.owl-item.active .item .alt-wrap{
    position: relative;
    top: 16px;
    transform: scale(1.5);
}
.owl-item.active.center .item .alt-wrap{
    position: relative;
    top: 0;
    transform: scale(1);
}